.basicButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 14px;

  &:active {
    position: relative;
    top: 1px;
  }

  &[disabled] {
    background-color: #cccccc;
    color: #777777;
    border: 1px solid #cccccc;
    text-shadow: #555555;

    &:hover {
      background-color: #cccccc;
      border: 1px solid #cccccc;
    }
  }
}

@mixin primaryButton($minWidth: 85px) {
  @extend .basicButton;

  width: $minWidth;
  border: 1px solid dodgerblue;
  background-color: dodgerblue;
  color: white;

  &:hover {
    border: 1px solid orange;
    background-color: orange;
  }
}

@mixin secondaryButton($minWidth: 85px) {
  @extend .basicButton;

  width: $minWidth;
  border: 1px solid dodgerblue;
  background-color: white;
  color: dodgerblue;

  &:hover {
    background-color: dodgerblue;
    color: white;
  }
}

@mixin formField($width: 100%) {
  width: $width;
  color: black;

  &::ng-deep {
    .mat-form-field-outline {
      color: #cccccc;
    }

    .mat-form-field-flex {
      padding: 0;
    }

    .mat-form-field-infix {
      border-top: 4px solid transparent;
      padding: 10px 12px;
    }

    .mat-input-element {
      caret-color: #000000;
    }
  }
}
